{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap">

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1>Editer ton Adresse</h1>
                {{ form_start(adresseForm) }}

              {#  {{ form_row(contactForm.name) }}
                {{ form_row(contactForm.subFamily) }}
                {{ form_row(contactForm.speciesCount) }}
                {{ form_row(contactForm.funFact) }}
                {{ form_row(contactForm.isPublished) }}
                {{ form_row(contactForm.updatedAt) }}#}

                <button type="submit" class="btn btn-primary" formnovalidate >Enregistrer</button>
                {{ form_end(adresseForm) }}
            </div>
            <a href="{{ path('admin_adresse_edit', {'id': adresse.id}) }}" class="btn btn-xs bt">editer Adresse</a>

        </div>

    </div>
{% endblock %}