{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap"
{% endblock %}
{% block body %}
     <div class="container">
     <div class="row">
        <div class="col-xs-12">
            <h1>Nouveau Contacte</h1>

            {{ form_start(contactForm) }}
            {{ form_row(contactForm.username) }}
            {{ form_row(contactForm.lastname) }}
            <div>{{ form_row(contactForm.email) }}}
            </div>

            <a href="{{ path('admin_adresse_create')}}" class="btn btn-xs bt" >creer ton Adresse</a>
<div>
            <button type="submit" class="btn btn-primary" formnovalidate >Enregister</button>
            {{ form_end(contactForm) }}
        </div>

    </div>

</div>
{% endblock %}