{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap">

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1>Creer  Adresse</h1>

                {{ form_start(adresseForm) }}
                {{ form_row(adresseForm.ville) }}
                {{ form_row(adresseForm.rue) }}
                {{ form_row(adresseForm.codePostal) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Enregistrer</button>
                {{ form_end(adresseForm) }}
            </div>

        </div>
    </div>
{% endblock %}