{% include 'layout.twig' %}

{% block body %}
    <strong>Contactes</strong> &nbsp; <a href="{{ path('admin_contact_create') }}" class="btn btn-primary">Creer Un Nouveau contacte</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
        </tr>

        </thead>
        <tbody>
        {% for contact in contactes %}
            {% for adresse in adresses %}
                <tr>
                    <td>
                        {{ contact.username }}
                    </td>
                    <td>
                        {{ contact.lastname }}
                    </td>
                    <td>
                        {{ contact.email }} &nbsp;
                        <a href="{{ path('admin_contact_edit', {'id': contact.id}) }}" class="btn btn-xs bt">editer</a>
                    </td>
                    <td>
                        {{ adresse.ville }}
                    </td>
                    <td>
                        {{ adresse.rue }}
                    </td>
                    <td>
                        {{ adresse.codePostal }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>

    </table>
{% endblock %}