{% include 'layout.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Contactes</th>
            <th><a href="{{ path('admin_contact_create') }}" class="btn btn-primary">Creer Un Nouveau contacte</a></th>
        </tr>

        </thead>
        <tbody>
        {% for contact in contactes %}

            <tr>
                <td>
                    {{ contact.username }}
                </td>
            {#    <td>
                    {{ contact.adresses.codePostal }}
                </td>
                <td>
                    {{ contact.adresses.rue }}
                </td>#}
                <td>
                    {{ contact.email }} &nbsp;
                    <a href="{{ path('admin_contact_edit', {'id': contact.id}) }}" class="btn btn-xs bt">editer</a>
                </td>

            </tr>
        {% endfor %}

        </tbody>

    </table>
{% endblock %}